<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="Maximus Player"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoritesActivity" android:screenOrientation="landscape" />
        <activity android:name=".DiagnosticActivity" android:screenOrientation="landscape" />
        <activity android:name=".SettingsActivity" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity" android:screenOrientation="landscape" />
        <activity android:name=".PlayerActivity" android:screenOrientation="landscape" />
        <activity android:name=".CameraViewActivity" android:screenOrientation="landscape" />
        <activity android:name=".WorldCamerasActivity" android:screenOrientation="landscape" />
        <activity android:name=".ScoreActivity" android:screenOrientation="landscape" />
        <activity android:name=".RadioActivity" android:screenOrientation="landscape" />
        <activity android:name=".CatalogActivity" android:screenOrientation="landscape" />
        <activity android:name=".ProfilesActivity" android:screenOrientation="landscape" />
        <activity android:name=".ProfileEditActivity" android:screenOrientation="landscape" />
    </application>
</manifest>
